<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1385536285032.png</string>
		<key>intro</key>
		<string>&apos;我的逃亡之旅到底還需要持續多久？即使是最強之風，終有一天也會在瓦羅蘭大陸中逝去&apos;-亞索</string>
		<key>name</key>
		<string>疾風劍豪·亞索</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1381398467886.png</string>
		<key>intro</key>
		<string>金克絲活著就是為了不計後果的四處肆虐，在她身後留下的只有一片混亂與恐慌。她是一名暴躁而殘忍的罪犯，她蔑視一切僅僅是因為無聊，她會在她認為最無趣的地方：皮爾特沃夫。</string>
		<key>name</key>
		<string>暴走蘿莉·金克絲</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1376619482925.png</string>
		<key>intro</key>
		<string>盧錫安使用的是擁有傳承力量的神聖武器，並成為對付不死族群的衛士。他冷靜而強大，面對無盡的恐怖時仍然可以懲罰對手通過其擁有的驅除之火。</string>
		<key>name</key>
		<string>聖槍游俠·盧錫安</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1371093644361.png</string>
		<key>intro</key>
		<string>&apos;戰者，或為榮耀，或為贊頌。然此皆僅為戰所存也。&apos;——亞托克斯</string>
		<key>name</key>
		<string>暗裔劍魔·亞托克斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>231871561051.png</string>
		<key>intro</key>
		<string>閉上眼睛，讓寒冷將你奪去。&apos;——麗桑卓</string>
		<key>name</key>
		<string>冰霜女巫·麗桑卓</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>228242993255.png</string>
		<key>intro</key>
		<string>&apos;即使你沒有脊柱，你依然必須站起來。&apos;—扎克</string>
		<key>name</key>
		<string>生化魔人·扎克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>225382419902.png</string>
		<key>intro</key>
		<string>大多數士兵會依賴他們的武器。只有少數人才會真正地相互依賴。——奎因</string>
		<key>name</key>
		<string>德瑪西亞之翼·奎因</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>222714396868.png</string>
		<key>intro</key>
		<string>魂鎖典獄長的過去鮮為人知，並且大多數細節只存在於童謠和傳聞中。它們講述著一個喪心病狂的獄卒的故事。</string>
		<key>name</key>
		<string>魂鎖典獄長·錘石</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>219251317038.png</string>
		<key>intro</key>
		<string>&apos;真遺憾。我有兩只拳頭，但你的臉上只放得下一只。&apos;-蔚</string>
		<key>name</key>
		<string>皮城執法官·蔚</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>218041566099.png</string>
		<key>intro</key>
		<string>&apos;我即是狂瀾，且無法被力挽。&apos;-喚潮鮫姬·娜美。</string>
		<key>name</key>
		<string>喚潮鮫姬·娜美</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>216813987373.png</string>
		<key>intro</key>
		<string>&apos;均衡只是一個騙局，我們才是真正的忍者！&apos;影流之主-劫</string>
		<key>name</key>
		<string>影流之主·劫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>215627419666.png</string>
		<key>intro</key>
		<string>&apos;真正的追隨者無需害怕蜘蛛的擁抱。&apos;-伊莉絲</string>
		<key>name</key>
		<string>蜘蛛女皇·伊莉絲</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>212665677660.png</string>
		<key>intro</key>
		<string>如果你願意探索大自然的奇妙，你會發現有相當一部分數量的動物充分適應著生存環境。當然，偶爾你會遇見一種生物能夠適應任何環境。比如：虛空掠奪者-卡&apos;茲克。</string>
		<key>name</key>
		<string>虛空掠奪者·卡&apos;茲克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>210247356941.png</string>
		<key>intro</key>
		<string>&apos;能量屬於那些能夠運用它的人！&apos;-辛德拉</string>
		<key>name</key>
		<string>暗黑元首·辛德拉</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>209057893970.png</string>
		<key>intro</key>
		<string>&apos;單手宰羊，不如雙手屠狼。&apos;——雷恩加爾。</string>
		<key>name</key>
		<string>傲之追獵者·雷恩加爾</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>207847215830.png</string>
		<key>intro</key>
		<string>黛安娜投身於戰鬥的熱浪中，揮舞著她月牙槍刃，無情地施放著她的月光能量。</string>
		<key>name</key>
		<string>皎月女神·黛安娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>207225320108.png</string>
		<key>intro</key>
		<string>靠近那些美麗的花兒，就靠近一些荊棘&apos;-婕拉</string>
		<key>name</key>
		<string>荊棘之興·婕拉</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>205773517075.png</string>
		<key>intro</key>
		<string>武裝著睿智與魅力，以及標志性的可變形鐵錘，傑斯畢生致力於守護他的祖國，皮爾特沃夫。</string>
		<key>name</key>
		<string>未來守護者·傑斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>201804651313.png</string>
		<key>intro</key>
		<string>團結一致的諾克薩斯能夠掌控整個世界！而且理應如此！</string>
		<key>name</key>
		<string>諾克薩斯之手·德萊厄斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>197908560081.png</string>
		<key>intro</key>
		<string>這位高大魁梧、披堅執銳的幽魂就已將恐懼深深地植入到了那些見過他的人們的心中。</string>
		<key>name</key>
		<string>戰爭之影·赫卡裡姆</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>198079477246.png</string>
		<key>intro</key>
		<string>為了鎮壓一個遠古的腐敗深淵而建的一間寺院。這個深淵是那麼地令人不安。韋魯斯被一間神聖的艾歐尼亞寺院選作守望者。</string>
		<key>name</key>
		<string>懲戒之箭·韋魯斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>196703018435.png</string>
		<key>intro</key>
		<string>璐璐率性而為的程度，也許聯盟中沒有哪個英雄能夠比得上。在班德爾城中度過的青春歲月中，她總是把大部分時間都花在林間漫步或者做白日夢上。</string>
		<key>name</key>
		<string>仙靈女巫·璐璐</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>195755907116.png</string>
		<key>intro</key>
		<string>&apos;想和我共舞一曲死亡的華爾茲麼？&apos;-菲奧娜</string>
		<key>name</key>
		<string>無雙劍姬·菲奧娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>193333009937.png</string>
		<key>intro</key>
		<string>諾提勒斯蘇醒時，他變得有些不太一樣了。龐大的鐵質潛水服已經變成了一個渾然一體的甲殼。</string>
		<key>name</key>
		<string>深海泰坦·諾提勒斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>190833295927.png</string>
		<key>intro</key>
		<string>當瑟莊妮出生的時候，部落的預言者就說過，她將會成為統一這個分裂部族的領袖。</string>
		<key>name</key>
		<string>凜冬之怒·瑟莊妮</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>192131975792.png</string>
		<key>intro</key>
		<string>吉格斯生來就有著搗鼓機械的天賦，但他自由散漫、過度亢奮的天性在約德爾科學家當中實屬罕見。很早以前，吉格斯就已經制造出了一批被他親昵地稱為&apos;海克斯爆破&apos;的強力炸彈。</string>
		<key>name</key>
		<string>爆破鬼才·吉格斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>188475951613.png</string>
		<key>intro</key>
		<string>在年輕時，維克托就發現了他對科學與發明的激情，特別是機械自動化這一領域。他參加了祖安享有盛名的科技魔法大學，並帶領了一支隊伍，研發出了布裡茲這一科學史上的突破。</string>
		<key>name</key>
		<string>機械先驅·維克托</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>186599920512.png</string>
		<key>intro</key>
		<string>沃利貝爾開始了他漫長而危險的登山歷程。當他到達了頂峰，凝視著上面怒吼的風暴，他看見了一個可怕的景像——弗雷卓德整個被戰爭籠罩。</string>
		<key>name</key>
		<string>雷霆咆哮·沃利貝爾</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1371636483394.png</string>
		<key>intro</key>
		<string>一個睿智的薩滿發現他可以將整個部落的詛咒通過魔法轉移到某一個巨魔戰士身上，然而部落裡一直沒有這樣的戰士出現...直至特朗德爾出生。</string>
		<key>name</key>
		<string>巨魔之王·特朗德爾</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>173890450691.png</string>
		<key>intro</key>
		<string>拉克絲天生就屬於顯赫的皇冠衛隊，出自德瑪西亞的模範家庭她注定要成就一番偉業。</string>
		<key>name</key>
		<string>光輝女郎·拉克絲</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>174074057446.png</string>
		<key>intro</key>
		<string>古書裡將其稱為復仇焰魂。這個一個充滿灼熱仇恨的生物，它的存在就是為了將人類和約德爾人生存的地方夷為平地。</string>
		<key>name</key>
		<string>復仇焰魂·布蘭德</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>183638769835.png</string>
		<key>intro</key>
		<string>擺脫了血肉之軀後，澤拉斯幾乎能掌控無盡的能量。</string>
		<key>name</key>
		<string>遠古巫靈·澤拉斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>180008225874.png</string>
		<key>intro</key>
		<string>&apos;你只能在ducouteau家族看到瓦羅然大陸上最致命的三名用刀高手：我的父親，我，泰倫。&apos;——卡特琳娜，不詳之刃</string>
		<key>name</key>
		<string>刀鋒之影·泰隆</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>178647406694.png</string>
		<key>intro</key>
		<string>&apos;人類尚未學會控制他們的魔法——因為卡拉曼達已經變成了歷史長河中的一條水晶瘡疤（意指新地圖水晶之痕）。&apos;</string>
		<key>name</key>
		<string>水晶先鋒·斯卡納</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>176391685171.png</string>
		<key>intro</key>
		<string>&apos;通往全知的第一步是發現自己的無知。&apos;——易大師的第一課</string>
		<key>name</key>
		<string>齊天大聖·孫悟空</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>175792428160.png</string>
		<key>intro</key>
		<string>太陽的光芒籠罩著符文大陸，而其化身也勢必如此。-蕾歐娜</string>
		<key>name</key>
		<string>曙光女神·蕾歐娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>175792432633.png</string>
		<key>intro</key>
		<string>於生者而言，掘墓人的工作不可或缺，而在暗影島，掘墓人的價值更不可估量</string>
		<key>name</key>
		<string>掘墓者·約裡克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>rz.png</string>
		<key>intro</key>
		<string>作為法師學院出來的兩個討厭鬼之一，瑞茲從來沒合群過,在他7歲時，瑞茲就曾半夜偷入導師的住所，然後用一瓶電能藥劑燒焦了校長引以為傲的...</string>
		<key>name</key>
		<string>流浪法師·瑞茲</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ktln.png</string>
		<key>intro</key>
		<string>在軍國主義的諾克薩斯，女人的首要責任就是養育強壯的小孩，為參軍的丈夫傳宗接代，這是意料之中的事。但是有些女人卻不把養育當作自己的天性，卡特琳娜便是其中之一...</string>
		<key>name</key>
		<string>不祥之刃·卡特琳娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>173890255948.png</string>
		<key>intro</key>
		<string>有關斯維因的最早記載出現在諾克薩斯養老院一名醫生的筆記上。據載，斯維因一瘸一拐地走進病房，沒有叫喊也沒有抱怨，他的右腿被折成兩段，骨頭破皮而出。他的肩膀上站著一只陰森的小鳥，仿佛是黏在他肩上似的...</string>
		<key>name</key>
		<string>策士統領·斯維因</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1371200551407.png</string>
		<key>intro</key>
		<string>卡爾瑪所的沉著冷靜使她成為了村莊各種矛盾的調停者。她的導師總說：&apos;彼能起風，亦能止風...</string>
		<key>name</key>
		<string>天啟者·卡爾瑪</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>kjs.png</string>
		<key>intro</key>
		<string>在各個維度各個世界之間，有這麼一個地方。對有些人來說，這裡是外域；對另一些人來說，則是未知空間；然而對更多的人而言，這裡是thevoid...</string>
		<key>name</key>
		<string>虛空恐懼·科&apos;加斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>nn.png</string>
		<key>intro</key>
		<string>瓦羅然極東之地被刺骨寒冰所覆蓋，在漫長的冬季裡，當地居民玩一個奇怪的游戲。他們弄醒一窩冬眠的雪人，然後挨個跳到雪人背上，比賽誰能騎乘...</string>
		<key>name</key>
		<string>雪人騎士·努努</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>amm.png</string>
		<key>intro</key>
		<string>阿木木是英雄聯盟世界裡最古老的保衛者英雄之一，但他對加入聯盟前的生活仍一無所知。阿木木唯一記得的是自己在恕瑞瑪沙漠的一座金字塔內醒來。</string>
		<key>name</key>
		<string>殤之木乃伊·阿木木</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>wj.png</string>
		<key>intro</key>
		<string>約德爾人在人們心中大多不能跟可怕掛鉤。這個隨和矮小的種族雖然有點狂野，但某種程度上還是容易親近的。不過就在最近，有一個約德爾人變得非常壞……</string>
		<key>name</key>
		<string>邪惡小法師·維迦</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>xjd.png</string>
		<key>intro</key>
		<string>在符文之戰裡有一個轉折點，而我們只知道它被稱為&apos;審判時&apos;。那天和平常一樣，大陸上充滿了憤怒的戰鬥，人們為不同的信仰戰鬥，然後死去。但在那...</string>
		<key>name</key>
		<string>煉金術士·辛吉德</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>tdme.png</string>
		<key>intro</key>
		<string>這個世界上有那麼一群選擇不在瓦洛蘭城邦生活的人，反之，他們選擇區小村莊或者是游牧部落生活。在這些未經開拓的地方生活盡管存在一定的危險，但是同樣也能享受到遠離符文之地法規限制的自由...</string>
		<key>name</key>
		<string>蠻族之王·泰達米爾</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mdys.png</string>
		<key>intro</key>
		<string>據說蒙多醫生是出生在祖安的一個無情的男子，他有無法抑制的衝動去通過實驗制造痛苦。在他五歲的時候，他周圍鄰居的寵物經常失蹤；在他十歲的時候...</string>
		<key>name</key>
		<string>祖安狂人·蒙多</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>plk.png</string>
		<key>intro</key>
		<string>普朗克的父親是令人聞風喪膽的海盜船長&apos;魅影文森特&apos;，也是整個藍焰島上最富有、最恐怖的海盜之一。也許有人會認為普朗克會如溫室的花朵一般被寵壞...</string>
		<key>name</key>
		<string>海洋之災·普朗克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mft.png</string>
		<key>intro</key>
		<string>曾經有一個完全和諧的世界，在那裡，一切都是這個整個世界的一部分。巨石是一切事物的本原，他們的外來居民則是一個個獨立的部分。</string>
		<key>name</key>
		<string>熔岩巨獸·墨菲特</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>xwe.png</string>
		<key>intro</key>
		<string>美麗而致命的希維爾在她的雇佣兵生涯中贏得了無數頭銜，而最近她一直是&apos;諾克蘇斯的戰爭女神&apos;。</string>
		<key>name</key>
		<string>戰爭女神·希維爾</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>fdtk.png</string>
		<key>intro</key>
		<string>20多年來費德提克獨自站在戰爭學院最東邊的召喚室。只有他雙眼中發出的燃燒搬的綠色火焰才能刺穿他黑暗的、布滿塵埃的家。末日使者就是在這裡無聲地守著。</string>
		<key>name</key>
		<string>末日使者·費德提克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ke.png</string>
		<key>intro</key>
		<string>許多年前，遙遠的天國之中，崇尚自由的炎之天使長凱爾挑戰了古板的最高指令.在神聖天國裡，命令需要絕對服從，任何質疑都等於背叛。凱爾厭倦了毫無...</string>
		<key>name</key>
		<string>審判天使·凱爾</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>anwy.png</string>
		<key>intro</key>
		<string>大部分的傳說裡，鳳凰都是從灰燼中重生的火鳥。但很少有人知道，鳳凰是一種元素生物，由各自世界裡永恆的精粹形成。艾尼維亞來自這樣一個世界——...</string>
		<key>name</key>
		<string>冰晶鳳凰·艾尼維亞</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>tm.png</string>
		<key>intro</key>
		<string>作為班德爾城的斥候隊長，提莫是祖國尤德爾最前方的防守者。在斥候隊長之外，他還要籌劃肥皂盒德比，傳授新手斥候誓約，裁定年度大胃王比賽—...</string>
		<key>name</key>
		<string>迅捷斥候·提莫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ax.png</string>
		<key>intro</key>
		<string>弗雷爾卓德美女艾希是英雄聯盟召喚師長期以來的最愛之一。作為阿瓦羅薩的直系後代，艾希是傳奇三姐妹之一。她們各自宣稱統治著居住在瓦洛蘭大陸北部凍苔原地帶的散亂部落。艾希繼承了祖先精通的箭術，因此也繼承了阿瓦羅薩&apos;寒冰射手&apos;的稱號。</string>
		<key>name</key>
		<string>寒冰射手·艾希</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>an.png</string>
		<key>intro</key>
		<string>她的母親是一位灰色魔女，她的父親是一名神秘的術士，這個孩子的血液裡流淌著驚人的秘法能量。她兩歲時就用魔法馴服了一頭森林裡的凶猛暗影熊，將...</string>
		<key>name</key>
		<string>黑暗之女·安妮</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cstn.png</string>
		<key>intro</key>
		<string>麥格林突擊隊一直是班德爾城裡的一個傳奇。他們擁有橫跨數世紀的悠久歷史，現在他們仍然還在約德爾人的軍隊裡服役。他們以冷酷英勇而聞名於世，即使是班德爾城裡面的勇士們也對他們敬畏有加...</string>
		<key>name</key>
		<string>麥林炮手·崔絲塔娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>jks.png</string>
		<key>intro</key>
		<string>除了賈克斯，很少有英雄是通過加入聯盟後的行動來衡量自己。賈克斯是目前戰爭學院最多產的聯賽戰士。在加入聯盟之前，賈克斯只是個平凡的雇佣士兵...</string>
		<key>name</key>
		<string>武器大師·賈克斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>y.png</string>
		<key>intro</key>
		<string>無極武館是個非常神秘的存在，除了本門弟子其他人根本找不到，傳言武館位於沙漠深處武館有四位大師鎮館，分別以金銀銅鉛四條龍命名，他們從不在同時...</string>
		<key>name</key>
		<string>無極劍聖·易</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>kq.png</string>
		<key>intro</key>
		<string>庫奇是&apos;尖嘯之蛇&apos;裡最具盛名的，不單因為他無與倫比的勇氣，還有他面對威脅時冷靜的頭腦。在加入聯盟之前，庫奇也效力過其他組織，他經常主動接受任務，深入敵後，在危險地帶收集情報或傳遞信息...</string>
		<key>name</key>
		<string>英勇投彈手·庫奇</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>alst.png</string>
		<key>intro</key>
		<string>作為氏族的最後幸存者，阿利斯塔在保護家園抵抗強大入侵者時被俘，成為一名奴隸，被迫推動巨大的滑輪升降礦工。在這無盡的痛苦生活裡，他唯一的安...</string>
		<key>name</key>
		<string>牛頭酋長·阿利斯塔</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>blc.png</string>
		<key>intro</key>
		<string>祖安是個被科技和魔法雙重扭曲的城市。沒有節制的實驗毀壞了這座城市。不過在魔法和科技的雙重作用下，這裡也出現了不少奇觀，比如蒸汽機器人就是...</string>
		<key>name</key>
		<string>蒸汽機器人·布裡茨</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>slk.png</string>
		<key>intro</key>
		<string>在在符文之戰中人中，索拉卡被稱為眾星之子。作為艾歐尼亞第一位高階女祭司，她是艾歐尼亞的實際統治者，在符文之戰中誓言保衛他們的信仰。</string>
		<key>name</key>
		<string>眾星之子·索拉卡</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>nss.png</string>
		<key>intro</key>
		<string>這個被稱為內瑟斯的神秘生物從遙遠的世界來到聯盟，並且是龐大博學的沙漠帝國的一部分。在那裡內瑟斯備受尊敬，同時學富五車的他被任命為大圖書館的守護者...</string>
		<key>name</key>
		<string>沙漠死神·內瑟斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>wlk.png</string>
		<key>intro</key>
		<string>沃裡克曾經是名野蠻的雇佣兵，他被祖安的煉金術士訓練成為化學武器工程師。在愛奧尼亞一座城堡的防御戰裡，當己方部隊都被消滅後，沃裡克逃走了。...</string>
		<key>name</key>
		<string>嗜血獵手·沃裡克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mgn.png</string>
		<key>intro</key>
		<string>莫甘娜很小就隨姐姐凱勒加入了審判者，姐妹倆迅速地脫穎而出，殘酷的訓練也將她們的戰鬥技能磨練到最高水准。雖然莫甘娜和凱勒是姐妹和親密的朋友...</string>
		<key>name</key>
		<string>墮落天使·莫甘娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>lms.png</string>
		<key>intro</key>
		<string>瘟疫之地上蔓延的危險魔法影響了該地區的所有生靈，拉莫斯就是一個例子。沒人知道來自shurima沙漠的龍龜怎麼能毫發無損的穿越kumungu叢林，但拉...</string>
		<key>name</key>
		<string>披甲龍龜·拉莫斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ksd.png</string>
		<key>intro</key>
		<string>一個存在於各個世界之間的地方。對有些知道它存在的人來說是外域，而對於其他的人它則是一片未知之地。大部分人稱其為做無盡虛空。不要被它的名...</string>
		<key>name</key>
		<string>虛空行者·卡薩丁</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>se.png</string>
		<key>intro</key>
		<string>德瑪西亞和諾克薩斯的戰爭歷史擴散到了瓦羅然的城市。這場衝突最新的產物是諾克蘇斯的殘暴戰士賽恩。賽恩被諾克蘇斯當作人形攻城武器使用，在...</string>
		<key>name</key>
		<string>亡靈勇士·賽恩</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>tlk.png</string>
		<key>intro</key>
		<string>有一種古老的魔法，早已被人們所遺棄。這是有關大地之力的魔法，也是有關水晶和寶石共鳴的魔法。塔裡克的父親是一個遙遠城鎮中的醫者，塔裡克...</string>
		<key>name</key>
		<string>寶石騎士·塔裡克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>jn.png</string>
		<key>intro</key>
		<string>有這麼一些女巫，將自己奉獻給自然的原始力量。有一個孤兒迦娜，成長於混亂的祖安，艱難的在街道上討生活。祖安狂暴的魔法是她眼中最初也是最迷人的存在，迦娜意識到她可以用魔法來保護自己...</string>
		<key>name</key>
		<string>風暴之怒·迦娜</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>jl.png</string>
		<key>intro</key>
		<string>從干枯破裂的河床上升起的是一座大擺鐘一樣的塔。塔沒有門也沒有其他入口，固若金湯，無懈可擊，無法通過攀爬或飛行進入。塔外面方圓百裡寸草...</string>
		<key>name</key>
		<string>時光守護者·基蘭</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cst.png</string>
		<key>intro</key>
		<string>蛇紋石河兩岸是一個與世隔絕的吉普賽聚居地。任何一天你都會看見一隊明輪船在河面急流中上下穿行。雖然宿營地一直在變動，但部族卻非常穩定團...</string>
		<key>name</key>
		<string>卡牌大師·崔斯特</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>yfl.png</string>
		<key>intro</key>
		<string>伊芙琳的來歷至今仍是個謎，不過第一眼看上去她不太像個人類。有人猜測那是吸血鬼幼年時期的溫和外表。也有人認為她在戰場上爆發的野性暗示了。</string>
		<key>name</key>
		<string>寡婦制造者·伊芙琳</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>kess.png</string>
		<key>intro</key>
		<string>在符文之戰期間，巨大的魔法能量被釋放出來，給瓦羅然大陸留下了無數傷痕。很多偏遠地區被殘余的魔法持續扭曲，成為人跡罕至的地方，嚎叫沼澤...</string>
		<key>name</key>
		<string>死亡頌唱者·卡爾薩斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>sk.png</string>
		<key>intro</key>
		<string>從沒有人會把死亡當作兒戲，除非你是薩科-這個瓦羅然大陸上第一個嗜殺的喜劇演員。他總是變著戲法折磨無辜的人，直到他們死去後他才放聲大笑...</string>
		<key>name</key>
		<string>惡魔小醜·薩科</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>hmdg.png</string>
		<key>intro</key>
		<string>在班德勒郊外看到yordle一族是很不尋常的事情，但是科技的吸引對於黑默丁格來說無法抵擋的。科學院召喚他來效力，大膽的啟用他.</string>
		<key>name</key>
		<string>大發明家·黑默丁格</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>akl.png</string>
		<key>intro</key>
		<string>艾歐尼亞群島有一個古老的組織，他們將其一生奉獻給世界平衡。秩序，混亂，光明，黑暗——所有這一切都必須完美平衡的存在，這就是宇宙之道...</string>
		<key>name</key>
		<string>暗影之拳·阿卡麗</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>wde.png</string>
		<key>intro</key>
		<string>在艾歐尼亞，有一群隱修者悉心鑽研著瓦洛蘭的至深奧秘，探索著靈魂的最深處。他們中的一些精英是文明與和諧的忠實擁護者，然而總有人另辟蹊徑...</string>
		<key>name</key>
		<string>獸靈行者·烏迪爾</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gl.png</string>
		<key>intro</key>
		<string>在瓦洛蘭大陸，雖然人們對德瑪西亞的軍紀存在爭議，但是相同點是所有人都尊敬它。平民和士兵都嚴格遵守著&apos;零容忍&apos;的准則。這意味著在戰鬥中徳瑪西亞軍隊永遠不會找借口托辭、逃跑、或者投降...</string>
		<key>name</key>
		<string>德瑪西亞之力·蓋倫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>kn.png</string>
		<key>intro</key>
		<string>艾歐尼亞群島有一個古老的組織，他們將其一生奉獻給世界平衡。秩序，混亂，光明，黑暗——所有這一切都必須完美平衡的存在，這就是宇宙之道...</string>
		<key>name</key>
		<string>狂暴之心·凱南</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>kgm.png</string>
		<key>intro</key>
		<string>符文之地迷人的色彩和香氣讓克格&apos;莫沉醉，他用自己唯一知道的方法探尋這個奇怪世界裡的水果，那就是吞食它們。</string>
		<key>name</key>
		<string>深淵巨口·克格&apos;莫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mezh.png</string>
		<key>intro</key>
		<string>大多數人在恕瑞瑪令人刺眼的陽光下變得瘋狂，但是當夜幕降臨的時候瑪爾扎哈也放下了自己的理智。自從他出生之時就受到了先知的祝福而擁有了未蔔先知的能力。</string>
		<key>name</key>
		<string>虛空先知·瑪爾扎哈</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>mdks.png</string>
		<key>intro</key>
		<string>某天，從暗影島來了一個器宇不凡的家伙。他身高八英尺，深深的隱藏在鋒利的盔甲之內，人們只知道他名叫莫德凱撒。從未有人見過他藏在盔甲之中的真面目...</string>
		<key>name</key>
		<string>金屬大師·莫德凱撒</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ndl.png</string>
		<key>intro</key>
		<string>超級壁壘的南部是一片被詛咒的凶險之地，因此人煙稀少，而英雄更是鳳毛麟角。那裡的大部分地區仍然殘留著上次符文戰爭留下的創傷，特別是神秘的庫莽古森林...</string>
		<key>name</key>
		<string>狂野女獵手·奈德麗</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ezre.png</string>
		<key>intro</key>
		<string>伊澤瑞爾的血液中流淌著與生俱來的魔法天賦。與此同時，他熱愛流浪探險。伊澤瑞爾進入學校後，有望成長為熟練的科技魔法師，但他很快就厭倦了學校的魔法學習...</string>
		<key>name</key>
		<string>探險家·伊澤瑞爾</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gljs.png</string>
		<key>intro</key>
		<string>超級堡壘山麓孕育著瓦羅然大陸最堅毅的居民，只有不屈不撓並吃苦耐勞的人才能在符文之地最惡劣的環境下生存...</string>
		<key>name</key>
		<string>酒桶·古拉加斯</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>alf.png</string>
		<key>intro</key>
		<string>在瓦羅然勢力範圍以外的未知大陸，奧拉夫出生於一個歷史悠久、與眾不同的勇士世家。他們自稱為狂戰士，將自己的怒火導入至戰鬥之中，釋放出狂野的憤怒...</string>
		<key>name</key>
		<string>狂戰士·奧拉夫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ps.png</string>
		<key>intro</key>
		<string>在巨石峰巔的雲端之上，居住著一個叫斯坦帕的部落，他們崇拜戰爭，視其為第二藝術。他們還記得符文之地發生的符文之戰，也知道英雄聯盟對部落崛起長久以來的壓制...</string>
		<key>name</key>
		<string>戰爭之王·潘森</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>bb.png</string>
		<key>intro</key>
		<string>當其他的約德爾年輕人在載歌載舞，互拋花環的時候，波比還在她父親的鎧甲店裡辛勤的工作，雙手長滿了老繭，身上沾滿了油漬，她的父親...</string>
		<key>name</key>
		<string>鋼鐵大使·波比</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>s.png</string>
		<key>intro</key>
		<string>艾歐尼亞島上有一個上古教派，致力於維護均衡。規則與混亂、光明與黑暗——萬物必須和諧共存，這就是宇宙的真理。這個教派名為均衡教派，而該教派維護世界均衡的神聖使命則由三個暗影戰士來執行...</string>
		<key>name</key>
		<string>暮光之眼·慎</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>zx.png</string>
		<key>intro</key>
		<string>每當德瑪西亞的國王嘉文三世在皇宮頂部那熠熠生輝的大理石陽台上發表他那激情澎湃的演講之時，趙信都會侍立於他的身旁...</string>
		<key>name</key>
		<string>德邦總管·趙信</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>fljme.png</string>
		<key>intro</key>
		<string>在諾克薩斯和暴風平原之間的群山中，坐落著一個寺院。這裡守護著許多秘密。寺院裡面堆了許多不小心闖入的旅行者屍體...</string>
		<key>name</key>
		<string>猩紅收割者·弗拉基米爾</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>jla.png</string>
		<key>intro</key>
		<string>在很久之前，聯盟並沒有對法師創造人工生命進行任何監管，然而，現在已經徹底禁止了向傀儡灌輸靈魂這樣在工匠中並不罕見的活動。但是還有這樣一位充滿幻想德瑪西亞工匠-杜蘭德.</string>
		<key>name</key>
		<string>哨兵之殤·加裡奧</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ejt.png</string>
		<key>intro</key>
		<string>聯盟裡有很多的勇士，有些人是因為自己的天生神力而著名，有些充滿了狡猾與詭計，或者是對於武器的專精，而其余的則只是簡單的拒絕死亡。烏爾加特...</string>
		<key>name</key>
		<string>首領之傲·厄加特</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1371103804008.png</string>
		<key>intro</key>
		<string>對於勇敢面對符文之地嚴酷海洋的人，能擁有一艘屬於自己的船和船員，就已是個不錯的成就。備受尊敬的賞金獵人莎拉，在她16歲生日時就已經完成了這個目標...</string>
		<key>name</key>
		<string>賞金獵人·厄運小姐</string>
	</dict>
</array>
</plist>
