<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cars</key>
		<array>
			<string>奧迪</string>
			<string>寶馬</string>
			<string>奔馳</string>
			<string>保時捷</string>
			<string>大眾</string>
		</array>
		<key>title</key>
		<string>德系品牌</string>
		<key>desc</key>
		<string>高端大方上檔次，世界一流品牌</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<string>本田</string>
			<string>豐田</string>
			<string>鈴木</string>
			<string>雷克薩斯</string>
			<string>馬自達</string>
			<string>日產</string>
			<string>三菱</string>
			<string>現代</string>
		</array>
		<key>title</key>
		<string>日韓品牌</string>
		<key>desc</key>
		<string>牛逼哄哄，哎喲，好像不錯</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<string>別克</string>
			<string>福特</string>
			<string>Jeep</string>
			<string>凱迪拉克</string>
			<string>林肯</string>
			<string>雪佛蘭</string>
		</array>
		<key>title</key>
		<string>美系品牌</string>
		<key>desc</key>
		<string>老牌汽車，復古風</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<string>標致</string>
			<string>雪鐵龍</string>
			<string>賓利</string>
			<string>捷豹</string>
			<string>路虎</string>
			<string>勞斯萊斯</string>
			<string>法拉利</string>
			<string>蘭博基尼</string>
			<string>瑪莎拉蒂</string>
		</array>
		<key>title</key>
		<string>歐系其他</string>
		<key>desc</key>
		<string>優雅高貴，你值得擁有</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<string>比亞迪</string>
			<string>奔騰</string>
			<string>北京汽車</string>
			<string>長城</string>
			<string>東南</string>
			<string>東風</string>
		</array>
		<key>title</key>
		<string>自主品牌</string>
		<key>desc</key>
		<string>Made In China，質量你懂的</string>
	</dict>
</array>
</plist>
