<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BuyCar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>093EF61D1D6F950F00037204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>093EF6361D6F950F00037204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>093EF6411D6F950F00037204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
